* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* header */

.header-info {
  display: flex;
  background-color: #1f2937;
  /* height: 500px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 150px;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 22px;
}
.logo {
  display: flex;
  font-size: 24px;
  color: #f9faf8;
  align-items: flex-start;
}
img {
  width: 500px;
  height: 300px;
  display: flex;
}

h1 {
  display: flex;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
  justify-content: space-around;
  width: 400px;
}

.header-txt {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  flex-wrap: wrap;
  width: 400px;
  padding-top: 10px;
}

.sign-up-btn {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 9px;
  padding: 8px 35px;
  border: none;
  margin-top: 10px;
}

/* testomnials */

.card-container {
  display: flex;
  background-color: #fff;
  padding: 200px;
  justify-content: space-between;
  align-items: center;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 38px;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.card-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 325px;
  border: #3882f6 4px solid;
  border-radius: 8px;
}

.card-txt {
  display: flex;
  color: #1f2937;
  font-size: 18px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 25px 50px;
}

/* quote */

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  padding: 200px;
}

.quote-text {
  font-style: italic;
  font-size: 36px;
}
.para-tag {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* call to action */
.call-to-action-cont {
  display: flex;
  padding: 200px;
  background-color: #eee;
  justify-content: center;
  align-items: center;
}
.call-to-act-box {
  display: flex;
  background-color: #3882f6;
  width: 75%;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
}
.call-to-act-info {
  display: flex;
  color: #fff;
  justify-content: space-between;
  flex-direction: column;
}

.sign-me-up {
  color: #fff;
  padding: 5px 30px;
  border-radius: 8px;
  background-color: #3882f6;
  border: white 2px solid;
}
/* footer */

.footer {
  display: flex;
  background-color: #1f2937;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.footer-info {
  color: #eee;
}
